#pythonvigo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 25px;
  background: #80B2DE;
  font-family: Arial, Helvetica, 'Open Sans';
  color: #fff;
}
#pythonvigo > header,
#pythonvigo > footer {
  background: #fff;
  padding: 20px 40px;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 28px;
}
#pythonvigo > header h1,
#pythonvigo > footer h1 {
  margin: 0;
  font-family: Arial, Helvetica, 'Open Sans';
}
#pythonvigo > footer {
  bottom: 0;
}
#pythonvigo > header {
  top: 0;
}
#pythonvigo > header #logo {
  position: absolute;
  background: url(../i/logo.png) no-repeat right center;
  background-size: contain;
  right: 20px;
  top: 10px;
  width: 200px;
  height: 40px;
}
#pythonvigo > aside {
  position: absolute;
  right: 0;
  top: 60px;
  padding: 15px;
  font-size: 20px;
  width: 20%;
}
#pythonvigo > aside #lightning .lightning-logo {
  display: none;
}
