@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('Raleway-regular/Raleway-regular.eot');
  src: url('Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('Raleway-regular/Raleway-regular.woff') format('woff'),
       url('Raleway-regular/Raleway-regular.ttf') format('truetype'),
       url('Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('Raleway-500/Raleway-500.eot');
  src: url('Raleway-500/Raleway-500.eot?#iefix') format('embedded-opentype'),
       local('Raleway Medium'),
       local('Raleway-500'),
       url('Raleway-500/Raleway-500.woff2') format('woff2'),
       url('Raleway-500/Raleway-500.woff') format('woff'),
       url('Raleway-500/Raleway-500.ttf') format('truetype'),
       url('Raleway-500/Raleway-500.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('Raleway-700/Raleway-700.eot');
  src: url('Raleway-700/Raleway-700.eot?#iefix') format('embedded-opentype'),
       local('Raleway Bold'),
       local('Raleway-700'),
       url('Raleway-700/Raleway-700.woff2') format('woff2'),
       url('Raleway-700/Raleway-700.woff') format('woff'),
       url('Raleway-700/Raleway-700.ttf') format('truetype'),
       url('Raleway-700/Raleway-700.svg#Raleway') format('svg');
}

